.modalDialog 
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 40%;
    position: relative;
    margin: 10% auto;
    border-radius: 10px;
    background: #fff;
    padding: 30px;
}

.close:link, .close:visited 
{
    background-color: #88deff;
    color: #ffffff;
    line-height: 30px;
    width: 30px;
    position: absolute;
    right: -15px;
    top: -15px;
    text-align: center;
    font-weight: bold;
    font-size: 70%;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.close:hover, .close:active
{
    background-color: #00adee;
}

.code
{
    margin-top: 20px;
    height: 200px;
}

#editor
{
    height: 100%;
}

.tutorial-pane
{
    width: 50%;
    height: 400px
}

.treeview
{
    margin-top: 10px;
    height: 300px;
    overflow-y: scroll;
    border-width: thin;
    border-style: solid;
    border-color: #666;
    padding: 10px;
}

.treeview ul
{
    font-size: 90%;
    font-family: ExpertSans,verdana,arial,sans-serif;
    color: #666;
}