/* Reusable */
*
{
    margin: 0;
    padding 0;
}

html
{
    color: #666;
    font-family: ExpertSans,verdana,arial,sans-serif;
    background: #ffffff;
    font-size: 20px;
    font-weight: 200;
    text-rendering: auto;
    line-height: 125%;
}

.row
{
    width: 1140px;
    margin: 0 auto;
    max-width: 100%;
}

.clearFix
{
    zoom: 1;
}

.clearFix:after
{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.test-data
{
    visibility: hidden;
}

a:link, a:visited
{
    color: #00adee;
    text-decoration: none;
}

a:hover, a:active
{
    color: #007eb6;
}

/* Headings */

h1, h2, h3, h4
{
    color: #00395d;
    font-weight: 200;
}

h2
{
    padding-top: 45px;
    font-size: 120%;  
    text-align: center;
}

h3
{
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 5px;
    font-size: 110%;
}

h4
{
    font-size: 80%;
}

/*  Navigation Section */

nav
{
    background-color: #00395d;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 35px;
}

.nav-row
{
    padding-top: 3px;
    width: 1140px;
    margin: 0 auto;
    max-width: 100%;
    text-align: right;
}

.nav-row a
{
    margin-right: 10px;
    color: #ffffff;
    font-size: 70%;
}

.selector
{
    font-size: 70%;
    color: #00395d;
    margin-right: 10px;
    height: 20px;
}

/*  Header Section */

.img-logo
{
    height: 40px;
    width: auto;
    float: left;
    margin: 55px 0px 20px 15px;
    display: block;
}

.img-work
{
    background-image: url(images/work.jpg);
    background-attachment: fixed;
    background-size: contain;
    height: 200px;
}

/* Capability Section */

.section-capability
{
    padding-top: 30px;
    background-color: #f7f7f7;
    padding-bottom: 30px;
}

.section-capability i
{
    font-size: 110%;
    display: block;
    float: left;
    margin-left: 15px;
    width: 35px;
    text-align: center;
    color: #00395d;
}

.capability-text
{
    margin-left: 50px;
    margin-right: 30px;
    padding-left: 0;
    font-size: 70%;
    word-wrap: break-word;
}

/* Content Section */

.content-left
{
    margin-left: 45px;
}

.links
{
    margin-bottom: 15px;
    display: block;
}

.links a:link, a:visited
{
    color: #ffffff;
    display: block;
    background-color: #88deff;
    width: 100%;
    font-size: 70%;
    margin: 0px 0px 3px 0px;
    padding: 2px 0px 2px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.links a:hover, a:active
{
    background-color: #00adee;
}

.content
{
    margin: 0px 30px 0px 30px;
    font-size: 70%;
}

.content-text
{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 70%;
    margin-bottom: 10px;
    word-wrap: break-word;
}

/* Documentation Section */

.vision
{
    width: 65%;
}

.doc-section
{
    width: 100%;
    text-align: center;
}

.doc-section h2
{
    padding-top: 0px;
}
