/* Reusable */
*
{
    margin: 0;
    padding 0;
}

@charset "UTF-8";
@font-face
{
    font-family: "expert-sans-light";
    src: url("expert-sans-light.eot");
}

html
{
    color: #666;
    font-family: "expert-sans-light","Helvetica",Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    text-rendering: auto;
    line-height: 125%;
    overflow-y: scroll;
    position: relative;
}

.row
{
    width: 1040px;
    margin: 0 auto;
    max-width: 100%;
}

.clearFix
{
    zoom: 1;
}

.clearFix:after
{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

p
{
    font-size: 70%;
    font-weight: thin;
    margin-bottom: 5px;
    color: #0074a6;
}

/* Headings */

h1, h2, h3, h4, .h1-icon
{
    color: #00395d;
    font-weight: normal;
    font-style: normal;
}

h1
{
    font-size: 120%;
    position: relative;
    display: inline;
}

h2
{
    font-size: 100%;
    margin-bottom: 15px;
}

h3
{
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 5px;
    font-size: 110%;
}

h4
{
    font-size: 80%;
}

.h1-icon
{
    
    font-size: 200%; 
    margin-top: 20px;
    margin-right: 15px;
}

.h1-container
{
    display: inline-block;
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 35px 0px 20px 0px;
}

/*  Header Section */
.img-logo
{
    height: 35px;
    width: auto;
    float: left;
    margin: 15px 0px 15px 40px;
    display: block;
}


.img-work
{
    background-image: url(images/work.jpg);
    background-attachment: fixed;
    background-size: contain;
    height: 125px;
}

.page
{
    display: none;
}

/* Tutorial Treeview */
.tutorial
{
    padding: 10px;
    font-size: 80%;
    width: 300px;
    background-color: #f39c12;
    color: #ffffff;
    position: fixed;
    right: 40px;
    top: 0px;
    overflow: hidden;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.tutorial .item 
{
    cursor: pointer;
    margin-top: 0.25em;
}

.tutorial ul 
{
    padding-left: 1em;
    line-height: 1.25em;
    list-style-type: none;
}


/* How To Section */
.section-how-to
{
    padding-top: 30px;
    background-color: #f7f7f7;
    padding-bottom: 30px;
    font-size: 150%;
}

.how-to
{
    min-width: 320px;
    width: 320px;
    margin: 30px auto 30px auto;
}

.how-to-text
{
    padding-top: 7px;
    font-size: 70%;
    height: 100%;
    color: #0074a6;
    font-weight: 100;
}

.how-to-bullet
{
    background-color: #0074a6;
    display: block;
    float: left;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 10px;
    vertical-align: middle;
}

.how-to-icon
{
    height: 30px;
    color: #ffffff;
    float: left;
    font-size: 70%;
    width: 30px; 
    text-align: center;
    margin-top: 8px;
    margin-left: 6px;
    vertical-align: middle;
    text-align: center;
}

.content
{
    padding-right: 50px;
    width: 100%;
    line-height: 1.25em;
    max-width: 95%;
    font-size: 110%;
}

.asset-image
{
    max-width: 95%;
    max-height: 100%;
    text-align: center;
    vertical-align: middle;
}

.asset-links
{
    list-style-type: none;
}

.asset-links li
{
	text-indent: -1.75em;
    font-size: 100%;
}

a
{
    font-size: 70%;
    text-decoration: none;
}

a:link, a:visited
{
    color: #f7be63;
}

a:hover, a:active
{
    color: #f39c12;
}