
/* Reusable */
*
{
    margin: 0;
    padding 0;
}

html
{
    color: #666;
    font-family: helvetica, arial,sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    text-rendering: auto;
    line-height: 125%;
    overflow-y: scroll;
    position: relative;
}

.row
{
    width: 1140px;
    margin: 0 auto;
    max-width: 100%;
}

.clearFix
{
    zoom: 1;
}

.clearFix:after
{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

p
{
    font-size: 70%;
    font-weight: thin;
    margin-bottom: 5px;
    color: #34495e;
}

/* Headings */

h1, h2, h3, h4, .h1-icon
{
    color: #00395d;
    font-weight: normal;
    font-style: normal;
    font-size: 90%;
}

h1
{
    font-size: 12px;
    display: inline;
}

h2
{
    margin-bottom: 15px;
}

h3
{
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 5px;
    font-size: 110%;
}

h4
{
    font-size: 80%;
}

.h1-icon
{
    
    font-size: 200%; 
    margin-top: 20px;
    margin-right: 15px;
}

.h1-container
{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 35px 0px 20px 0px;
}

/*  Header Section */
.img-logo
{
    height: 35px;
    width: auto;
    float: left;
    margin: 15px 0px 15px 40px;
    display: block;
}

.img-work
{
    background-image: url(images/work.jpg);
    background-attachment: fixed;
    background-size: contain;
    height: 125px;
}

.page
{
    display: none;
}

/* Tutorial Treeview */
.tutorials
{
    padding: 10px;
    font-size: 80%;
    width: 300px;
    background-color: #f39c12;
    color: #ffffff;
    position: fixed;
    right: 40px;
    top: 0px;
    overflow: hidden;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: height 0.5s;
    z-index: 999;
}

.tutorials-close
{
    position: fixed;
    right: 55px;
    top: 11px;
    cursor: pointer;
}

.tutorials .item 
{
    cursor: pointer;
    margin-top: 0.25em;
}

.tutorials ul 
{
    padding-left: 1em;
    line-height: 1.25em;
    list-style-type: none;
}

.tutorial-link
{
    color: #ffffff;
    text-decoration: none;
}

tutorial:link, 
tutorial:active,
tutorial:visted,
tutorial:hover
{
    text-decoration: none;
    color: #ffffff;
}

/* How To Section */
.section-how-to
{
    padding-top: 30px;
    background-color: #fafbfc;
    padding-bottom: 30px;
    font-size: 150%;
}

.how-to
{
    min-width: 320px;
    width: 320px;
    margin: 30px auto 30px auto;
}

.works-step
{
    display: block;
}

.how-to-text
{
    padding-top: 7px;
    font-size: 70%;
    height: 100%;
    color: #00395d;
    font-weight: 100;
}

.how-to-bullet
{
    background-color: #00395d;
    display: block;
    float: left;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 7px;
    vertical-align: middle;
}

.how-to-icon
{
    height: 30px;
    color: #ffffff;
    float: left;
    font-size: 70%;
    width: 30px; 
    text-align: center;
    margin-top: 8px;
    margin-left: 6px;
    vertical-align: middle;
    text-align: center;
}

/* Asset Links */

.asset-content
{
    padding-right: 50px;
    width: 100%;
    line-height: 1.25em;
    max-width: 95%;
    font-size: 110%;
}

.asset-image
{
    max-width: 95%;
    max-height: 100%;
    text-align: center;
    vertical-align: middle;
}

.asset-links
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.asset-links li
{
	text-indent: -1.75em;
    font-size: 100%;
}

.asset-link
{
    font-size: 70%;
    font-weight: 100;
    text-decoration: none;
    color: #f39c12;
    margin: 0;
    padding: 0;
}

.asset-link:link, 
.asset-link:visited
{
    transition: font-weight 1;
}

.asset-link:hover, 
.assset-link:active
{
    font-weight: 500;
}