<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title id="title"></title>
        <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css" />
        
        <script type="text/javascript" src="vendors/javascript/jquery-2.2.3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="resources/javascript/common.js" charset="utf-8"></script>
        <script type="text/javascript" src="resources/javascript/scripts.js" charset="utf-8"></script>
        <script type="text/javascript" src="vendors/ace/ace.js" charset="utf-8" ></script>
        <script type="text/javascript" src="vendors/javascript/vue.js" charset="utf-8"></script>
        
        <!-- item template -->
        <script type="text/x-template" id="item-template">        
          <li>
            <div v-if="model.id > -1" @click="toggle" id="tutorial-id-{{model.id}}">
                <a v-if="model.id > 0" href="#asset-section" class="tutorial-link" @click="select">{{model.name}}</a>
                <span v-if="model.id == 0">{{model.name}}</a>
                <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
            </div>
            <div v-else @click="toggle">
                {{model.name}}{{model.id}}
                <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
            </div>
            <ul v-show="open" v-if="isFolder" class="tutorials-ul">
              <item
                class="item"
                v-for="model in model.children"
                :model="model">
              </item>
            </ul>
          </li>
        </script>
        
    </head>

    <body onload="javascript: initialize();">

        <!-- the demo root element -->
        <div id="tutorials" class="tutorials">
            <ul id="tutorials-tree">
              <item
                class="item"
                :model="treeData">
              </item>
            </ul>
            <i class="ion-close-circled" onclick="javascript: closeTutorials();"></i>
        </div>
        
        <!-- Header section -->
        <header id="#top">
            <div class="row">
                <img id="logo" class="img-logo"/>
            </div>
            <div class="img-work" />
        </header>
        
        <!-- Capabilities Description -->
        <section id="section-how-to" class="section-how-to">
            <div class="row">
                <div class="how-to-box">
                    <div class="clearFix">
                        <div class="how-to-bullet"><i class="ion-gear-b how-to-icon"></i></div>
                        <p class="how-to-text">Select the asset tutorial</p>
                    </div> 
                    <div class="clearFix">
                        <div class="how-to-bullet"><i class="ion-lightbulb how-to-icon"></i></div>
                        <p class="how-to-text">Understand the requirement</p>
                    </div>
                    <div class="clearFix">
                        <div class="how-to-bullet"><i class="ion-compose how-to-icon"></i></div>
                        <p class="how-to-text">Design the components</p>
                    </div>
                    <div class="clearFix">
                        <div class="how-to-bullet"><i class="ion-code how-to-icon"></i></div>
                        <p class="how-to-text">Code the components</p>
                    </div>
                    <div class="clearFix">
                        <div class="how-to-bullet"><i class="ion-clipboard how-to-icon"></i></div>
                        <p class="how-to-text">Test the components</p>
                    </div> 
                    <div class="clearFix">
                        <div class="how-to-bullet"><i class="ion-play how-to-icon"></i></div>
                        <p class="how-to-text">Execute the code and tests!</p>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="error" class="error">
            <div class="row">Unexpected error.  Please try again later.</div>
        </section>
        
        <!-- Asset -->
        <div id="tutorial-content" class="tutorial-content">
            <section id="asset-section">
                <div class="row">
                    <div class="centre-container">  
                        <i class="ion-gear-b h2-icon"></i>
                        <h2 id="asset-title"></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-12"></div>
                    <div class="col span-5-of-12">
                        <div class="box">    
                            <h3>Context Diagram</h3>
                            <img id="asset-diagram" class="asset-image"/>
                        </div>
                    </div>
                    <div class="col span-4-of-12">
                        <div class="box">
                            <h3>Overview</h3>
                            <div id="asset-content"></div>
                        </div>
                    </div>
                    <div class="col span-1-of-12">
                        <div class="box">
                            <h3>Resources</h3>
                            <div id="asset-links" class="asset-links"></div>
                        </div>
                    </div>
                    <div class="col span-1-of-12"></div>
                </div>
            </section>
        
            <!-- Requirements -->
            <section>
                <div class="row">
                    <div class="centre-container">  
                        <i class="ion-lightbulb h2-icon"></i>
                        <h2>Requirements</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-12"></div>
                    <div class="col span-5-of-12">
                        <div class="box"> 
                            <h3>Example Requirement</h3>
                            <blockquote id="requirement-example-text"></blockquote>
                        </div>
                    </div>
                    <div class="col span-5-of-12">
                        <div class="box "> 
                            <h3>Tutorial Requirment</h3>
                            <blockquote id="requirement-new-text"></blockquote>
                        </div>
                    </div>
                    <div class="col span-1-of-12"></div>
                </div>
            </section>

            <!-- Design -->
            <section>
                <div class="row">
                    <div class="centre-container">  
                        <i class="ion-compose h2-icon"></i>
                        <h2>Design</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-12"></div>
                    <div class="col span-5-of-12">
                        <div class="box">  
                            <h3>Example Design</h3>
                        </div>
                    </div>
                    <div class="col span-5-of-12">
                        <div class="box">  
                            <h3>Tutorial Design</h3>
                        </div>
                    </div>
                    <div class="col span-1-of-12"></div>
                </div>
            </section>

            <!-- Build -->
            <section id="code-section">
                <div class="row">
                    <div class="centre-container">  
                        <i class="ion-code h2-icon"></i>
                        <h2>Code</h2>
                    </div>
                    <div class="centre-container commands">
                        <div id="code-commands"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-12"></div>
                    <div class="col span-5-of-12">
                        <div class="box"> 
                            <h3>Example Code</h3>
                            <div id="example-code" class="box"></div>
                        </div>
                    </div>
                    <div class="col span-5-of-12">
                        <div class="box"> 
                            <h3>Tutorial Code</h3>
                            <div id="tutorial-code" class="box"></div>
                        </div>
                    </div>
                    <div class="col span-1-of-12"></div>
                </div>
            </section>

            <!-- Test -->
            <section id="test-section">
                <div class="row">
                    <div class="centre-container">  
                        <i class="ion-clipboard h2-icon"></i>
                        <h2>Test</h2>
                    </div>
                    <div class="centre-container commands">
                        <div id="test-commands" ></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-12"></div>
                    <div class="col span-5-of-12">
                        <div class="box">
                            <h3>Example Test</h3>
                            <div id="example-test" class="box"></div>
                        </div>
                    </div>
                    <div class="col span-5-of-12">
                        <div class="box">
                            <h3>Tutorial Test</h3>
                            <div id="tutorial-test" class="box"></div>
                        </div>
                    </div>
                    <div class="col span-1-of-12"></div>
                </div>
            </section>
            <div class="last-row">
                <a href="#prevent" onclick="javascript: execute();">
                    <i class="ion-play play-button"></i>
                </a>
            </div>
        </div>
        <div id="pre-view-dark"></div>
        <div id="pre-view">
            <h1>Review Page</h1><br>
            <div class="prev"></div>
            <br>
            <input type="submit" value="Submit" id="submit-review" 
                   onclick="javascript: writeToFile();">
            <input type="submit" value="Edit" id="cancel-review" 
                   onclick="javascript: cancelPrev();"> 
        </div>
    </body>
</html>