<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="resources/css/style.css" />
        <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css" />
        
		<script type="text/javascript" src="resources/javascript/data.js" charset="utf-8"></script>
        <script type="text/javascript" src="vendors/javascript/jquery-2.2.3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="vendors/ace/ace.js" charset="utf-8" ></script>
		
        <script type="text/javascript" src="vendors/javascript/jquery-2.2.3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="resources/javascript/data.js" charset="utf-8"></script>
        <script type="text/javascript" src="vendors/ace/ace.js" charset="utf-8"></script>
        <link rel="shortcut icon" href="resources/images/favicon.ico">
        <title>Barclays myCode</title>
    </head>

    <body onload="javascript: init(null, null);">

        <style>
          .item {
            cursor: pointer;
          }
          ul {
            padding-left: 1em;
            line-height: 1.5em;
            list-style-type: none;
          }
        </style>
    <script src="vue.js"></script>

    <!-- item template -->
    <script type="text/x-template" id="item-template">
      <li>
        <div
          :class="{bold: isFolder}"
          @click="toggle"
          @dblclick="changeType">
          {{model.name}}
          <span v-if="isFolder"></span>
        </div>
        <ul v-show="open" v-if="isFolder">
          <item
            class="item"
            v-for="model in model.children"
            :model="model">
          </item>
        </ul>
      </li>
    </script>

    <!-- the demo root element -->
    <div class="tutorial">
        <ul id="demo">
          <item
            class="item"
            :model="treeData">
          </item>
        </ul>
    </div>
        
        <!-- Header section -->
        <header>
            <div class="row">
                <img class="img-logo" src="resources/images/barclays-logo-desktop.png" alt="Barclays logo" />
            </div>
            <div class="img-work" />
        </header>
        
        <!-- Capabilities Description -->
        <section class="section-how-to">
            <div class="row">
                <div class="how-to">
                    <div class="how-to">
                        <div class="works-step clearFix">
                            <div class="how-to-bullet"><i class="ion-gear-b how-to-icon"></i></div>
                            <p class="how-to-text">Select the tutorial</p>
                        </div> 
                        <div class="works-step clearFix">
                            <div class="how-to-bullet"><i class="ion-ios-lightbulb-outline how-to-icon"></i></div>
                            <p class="how-to-text">Understand the requirement</p>
                        </div>
                        <div class="works-step clearFix">
                            <div class="how-to-bullet"><i class="ion-compose how-to-icon"></i></div>
                            <p class="how-to-text">Design the components</p>
                        </div>
                        <div class="works-step clearFix">
                            <div class="how-to-bullet"><i class="ion-code how-to-icon"></i></div>
                            <p class="how-to-text">Code the components</p>
                        </div>
                        <div class="works-step clearFix">
                            <div class="how-to-bullet"><i class="ion-clipboard how-to-icon"></i></div>
                            <p class="how-to-text">Test the components</p>
                        </div> 
                        <div class="works-step clearFix">
                            <div class="how-to-bullet"><i class="ion-arrow-return-left how-to-icon"></i></div>
                            <p class="how-to-text">Put it all together</p>
                        </div>
                    </div>
                    <a href="Video.html?v=/how-to" traget="_blank"></a>
                </div>
            </div>
        </section>
    </body>
</html>